{% extends "base.jinja2" %}

{% block content %}
<h3>민간 기관추천 특별공급</h3>
<li>국가유공자(5%)</li>
<li>장애인 등 해당기관의 추천을 받은 자(10%)</li>
<br><br>
<image src="https://postfiles.pstatic.net/MjAyMDExMDNfMjM4/MDAxNjA0MzU2MDk4NTY0.1pZ0orP-sFgo_920Yy_HcFhmOHcfPScqA6yump6LG4Mg.-cw_Isb6qPjHlitKFIxCLByq5xeSKw2VkNWJiCpEbvcg.PNG.kmjlmy5964/%EA%B7%B8%EB%A6%BC2.png?type=w966",width="966", height="1133"></image>

{% endblock %}
