{% extends "base.jinja2" %}

{% block content %}
<h3>일반공급</h3>
<h5>우선공급 대상자, 특별공급 대상자에 속하지 않는 자들을 대상으로 주택을 분양하는 방법</h5><br><br>

<h3>민간분양 일반공급 신청자격</h3>
<li>입주자 모집공고일 해당 주택건설지역에 거주하는 성년자(세대주인 미성년자 포함)</li>
<li>분양아파트가 포함된 주택건설지역의 거주자</li>
<br><br>
<h3>민간분양 1순위 요건</h3><font size="3px">(85제곱미터 초과 공공건설임대주택의 경우 2주택이상 소유한 세대에 속한 사람은 제외)</font>

{% endblock %}
